/* Login or Sign up styling */
.SelectInstitutionDiv {
    position: absolute;
    top: 80%; 
    width: 100%; 
    display: flex;
    justify-content: center;
}

.SelectInstitutionButton {
    display: block;
    width: 60%;
    padding: 15px 20px; 
    background-color: #007bff;
    color: #fff;
    text-align: center; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.EduEmailDiv {
    text-decoration: none;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}

/* Login styling */
